# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\fileCG\MODULE 2\Part-16\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
